@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #E5E5E5;
  color: #000000;
  min-height: 100%;
  display: flex;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-container {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  margin-left: 71px;
}

.user-list {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 72px;
}

.page-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 72px 30px 72px;
}

.navigation-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 33px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border-color: transparent;
  margin: 0;
  padding: 0;
}

.display-hotels {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 76px;
  position: relative;
}

.display-hotels::after {
  content: "";
  position: absolute;
  width: 1056px;
  height: 0;
  bottom: -42px;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
}

.show-div {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.show {
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  outline: none;
}

.show:hover,
.show:focus {
  border-color: #83B3D3;
}

.show:active {
  border-color: #000000;
}

.show svg {
  position: absolute;
  fill: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clear-underline {
  text-decoration: none;
}

.navigation-link {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #000000;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.user-item {
  margin-right: 21px;
  margin-top: auto;
  margin-bottom: auto;
}

.navigation-item:last-of-type,
.user-item:last-of-type {
  margin-right: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-index {
  background-image: url(../img/footer-background.jpg);
  background-repeat: no-repeat;
}

.sedona-welcomes-you {
  background-image: url("../img/index_background.jpg");
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 83px;
  position: relative;
}

.sedona-welcomes-you::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  background: url("../img/white_mask.svg") no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.catalog-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 35px 71px 85px 71px;
  background-image: url(../img/catalog_background.jpg);
  background-repeat: no-repeat;
}

.subscribe-form input {
  background-color: #F2F2F2;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.town {
  margin-top: 63px;
  margin-bottom: 23px;
}

.hotel-search {
  padding-top: 91px;
  padding-bottom: 91px;
}

.interest {
  margin-bottom: 30px;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 79px;
}

.suggestions {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
}

/*Паддинги у преимуществ дополнительно поправлю на моменте добавления иконок в эти блоки, потому как сейчас так или иначе смотрится криво*/
.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-item {
  text-align: center;
  width: 400px;
  padding-top: 90px;
  padding-bottom: 77px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-number {
  margin-bottom: 26px;
}

/*у карточек с иконками отличаются отступы*/
.advantages-title-alt {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-top: 89px;
  margin-bottom: 20px;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  grid-column: span 3;
  width: 100%;
  display: flex;
  background-color: #83B3D3;
}

.advantages-white {
  color: #FFFFFF;
}

.subscribe-h {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-catalog-h {
  color: #000000;
}

.subscribe-p {
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-catalog-p {
  color: #333333;
  margin-bottom: 26px;
}

.div-flex {
  display: flex;
}

.sedona-decorative-btn {
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding-top: 9px;
  padding-bottom: 10px;
}

.catalog-btn {
  width: 151px;
}

/*фокус для этой кнопки отображается максимально криво, в стайлгайде её нет вообще, помучалась и удалила на момент*/
.load {
  display: block;
  width: 625px;
  margin-bottom: 61px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.load a {
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.load:hover,
.load:focus,
.load:active {
  background-color: #68A2CA;
}

.load:focus {
  border-color: #FFFFFF;
}

.load:active a {
  color: rgba(255, 255, 255, 0.6);
}

.bottom-catalog::before {
  content: "";
  position: absolute;
  width: 1056px;
  height: 0;
  top: -31px;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
}

.load a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: 700px;
  font-size: 20px;
  line-height: 26px;
}

.to-selected,
.selected-btn {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 9px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.to-selected:hover {
  background-color: #68A2CA;
  box-shadow: 0 0 0 1px #756257;
}

.to-selected:focus {
  border-color: #756257;
}

.to-selected:active {
  box-shadow: 0 0 0 1px #756257;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.selected-btn:hover {
  background-color: #6C9E42;
}

.selected-btn:focus {
  background-color: #6C9E42;
  border-color: #756257;
}

.selected-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-btn {
  background-color: #83B3D3;
}

.selected-btn {
  background-color: #7DB54F;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  padding-right: 29px;
}

.footer-contacts-phone {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.button {
  text-decoration: none;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-item-alt {
  margin-left: 10px;
  padding-left: 16px;
  background: url("../img/icons/arrow_1.svg") no-repeat 0 50%;
}

.breadcrumbs-item-alt:hover,
 .breadcrumbs-item-alt:focus,
 .breadcrumbs-item-alt:active {
  background-image: none;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  display: block;
  border: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
  outline: none;
}

.breadcrumb {
  position: relative;
  width: 28px;
  height: 27px;
  display: block;
  padding: 0;
}

.breadcrumb svg {
  position: absolute;
  fill: #FFFFFF;
  transform: translateY(5px);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #83B3D3;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.3);
}

.arrow {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.arrow svg {
  position: absolute;
  fill: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  outline: none;
}

.arrow:hover svg,
.arrow:focus svg,
.arrow:active svg {
  fill: transparent;
  border: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 24px;
}

.sorting-type {
  font-size: 18px;
  line-height: 24px;
  margin-right: 81px;
}

.sorting-type select {
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  padding: 12px 127px 13px 19px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  appearance: none;
  background: url("../img/icons/arrow_2.svg") no-repeat right; /*галочка слишком чёрная, пробовала через opacity, но влияет на всё*/
  background-position-x: calc(100% - 19px);
}

.sorting-type:hover select,
.sorting-type:focus select {
  border-color: #83B3D3;
}

.sorting-type:active select {
  border-color: rgba(230, 230, 230, 0.3);
  color: rgba(51, 51, 51, 0.3);
  opacity: 0.3;
}

.search-btn {
  width: 576px;
  margin-top: 73px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 17px;
  border-radius: 10px;
}

.hotels-found {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.hotel-card {
  display: flex;
  margin-bottom: 58px;
  position: relative;
}

.hotel-card::after {
  content: "";
  position: absolute;
  width: 1056px;
  height: 0;
  bottom: -30px;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
}

.hotel-info {
  margin-left: 37px;
}

.hotel-card-image {
  display: block;
  margin: 0;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.hotel-img-link {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.hotel-img-link:hover {
  opacity: 0.6;
}

.hotel-img-link:focus .hotel-card-image {
  border-color: #83B3D3;
  outline: none;
}

.hotel-img-link:active {
  opacity: 0.3;
}

.hotel-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-title {
  border: 3px solid transparent;
  padding: 10px 15px 10px 16px;
  margin-left: -17px;
  margin-top: -10px;
  margin-bottom: -10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link:focus .hotel-card-title {
  border: 3px solid #83B3D3;
  color: #756257;
}

.hotel-card-link:active .hotel-card-title {
  color: rgba(117, 98, 87, 0.3);
}

.card-main {
  display: flex;
}

.card-left {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 8px;
}

.card-right {
  display: block;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.hotel-card-price {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.hotel-card-rate {
  background-color: #F2F2F2;
  display: block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 80px;
  border-radius: 4px;
}

.rate {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.stars {
  text-align: center;
}

.stars-rating-2 {
  width: 43px;
}

.stars-rating-3 {
  width: 68px;
}

.stars-rating-4 {
  width: 89px;
}

.stars-rating {
  align-self: center;
  height: 17px;
  background: url("../img/icons/star.svg") space;
}

.dark-text {
  color: #333333;
}

.bottom-catalog {
  display: flex;
  align-items: baseline;
  position: relative;
}

.sedona-dwelling {
  padding: 50px 72px 89px 72px;
}

.number-of-hotels {
  margin-left: auto;
}

.number-text {
  display: inline-block;
  margin-right: 51px;
  color: 333333;
}

.pagination {
  display: flex;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-link {
  display: block;
  width: 55px;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-catalog {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.price-sorting {
  display: flex;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  width: 287px;
}

.label-container {
  display: flex;
  width: 143px;
  height: 48px;
  align-items: center;
  padding-left: 19px;
  padding-right: 14px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  justify-content: space-between;
}

.label-container:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.label-container:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.label-container:active {
  background-color: #756257;
}

.label-container span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 24px;
}

.label-container input {
  width: 50px;
  outline: none;
  border: none;
  background-color: transparent;
}

.label-container input::placeholder {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
}

.label-container input[type="number"]::-webkit-outer-spin-button,
.label-container input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/*тут пока пиксели на глаз, потому как в фигме что-то странное*/
.apply {
  margin-top: 54px;
  background: #83B3D3;
  width: 160px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.apply:hover {
  background: #68A2CA;
}

.apply:focus {
  background: #68A2CA;
  outline: none;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  outline: none;
}

.apply:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
  outline: none;
}

.reset {
  color: #FFFFFF;
  margin-left: auto;
  background-color: transparent;
  display: block;
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  padding: 0;
  cursor: pointer;
  border: 3px solid transparent;
  padding-top: 4px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.advantage-house::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -89px;
  background: url("../img/icons/house.svg") no-repeat;
}

.advantage-burger::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -89px;
  background: url("../img/icons/burger.svg") no-repeat;
}

.advantage-present::before {
  content: "";
  position: absolute;
  background: url("../img/icons/present.svg") no-repeat;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -89px;
}

.brown-btn {
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.want-there {
  width: 160px;
}

.brown-btn:hover {
  background-color: #615048;
  border: 3px solid transparent;
}

.brown-btn:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  outline: none;
}

.brown-btn:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.current-page {
  border-bottom: 2px solid #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus,
.current-page:focus {
  color: #756257;
  outline: none;
  border-radius: 10px;
  border: 3px solid #83B3D3;
}

.navigation-link:active {
  color: rgba(136, 127, 121, 0.3);
}

.user-link {
  color: #000000;
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.user-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-link:hover svg{
  fill: #756257;
}

.user-link:focus svg {
  fill: #756257;
  top: 10;
  bottom: 10;
}

.user-link:focus {
  border-radius: 10px;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.user-link:active svg{
  fill: rgba(136, 127, 121, 0.3);
}

.heart-icon {
  display: block;
  margin: 0;
  position: relative;
}

.heart-icon::after {
  position: absolute;
  left: 19px;
  content: "12";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB550;
}

.heart-icon:hover::after {
  color: rgba(255, 255, 255, 0.3);
}

.social-btn {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.social-btn svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3
}

.social-btn:hover svg {
  fill: #68A2CA;
}

.social-btn:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.social-btn:focus svg {
  fill: #68A2CA;
}

.social-btn:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  position: relative;
  min-width: 154px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.htmlacademy-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-link:hover svg {
  fill: #756257;
}

.htmlacademy-link:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.htmlacademy-link:focus svg {
  fill: #756257;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 98, 87, 0.3);
}

.subscribe-button {
  background: #83B3D3;
  width: 200px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
  border-color: #756257;
}

.subscribe-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.user-email {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
  border: 3px solid transparent;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding-left: 22px;
  box-sizing: border-box;
}

.user-email:hover {
  background-color: #E6E6E6;
}

.user-email:focus {
  border-color: #83B3D3;
  background-color: #E6E6E6;
}

.user-email:active {
  background-color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0 0 0 2px #000000;
  color: #000000;
}

.user-email:focus:invalid {
  background-color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0 0 0 2px #FF5757;
  color: #000000;
}

.range-scale {
  width: 287px;
  height: 0;
  justify-self: center;
  border: 4px solid rgba(255, 255, 255, 0.3);
  margin-top: 32px;
  position: relative;
}

.range-bar {
  width: 227px;
  height: 0;
  border: 4px solid #FFFFFF;
  position: absolute;
  top: -4px;
  left: -3px;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 3px solid transparent;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border-color: #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  position: absolute;
  top: -10px;
  left: -4px;
}

.toggle-max {
  position: absolute;
  top: -10px;
  left: 230px;
}

.dwelling-field {
  margin-right: auto;
}

.dwelling {
  display: block;
}

.dwelling span {
  color: #FFFFFF;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  line-height: 24px;
}

.dwelling span::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #3F5E72;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px #FFFFFF;
}

.catalog-filter-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.dwelling input:checked + span::before {
  box-shadow: inset 0 0 0 5px #FFFFFF;
}

.dwelling input:focus + span::before {
  box-shadow: inset 0 0 0 3px #83B3D3,
  inset 0 0 0 10px #FFFFFF;
}

.dwelling input:checked:focus + span::before {
  box-shadow: 0 0 0 3px #83B3D3,
  inset 0 0 0 5px #FFFFFF;
}

.infrastructure {
  display: block;
}

.infrastructure span {
  color: #FFFFFF;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  line-height: 24px;
}

.infrastructure span::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}

.infrastructure input:checked + span::before {
  background: #FFFFFF url("../img/icons/checkbox.svg") no-repeat 50% 50%;
}

.infrastructure input:hover + span::before,
.infrastructure input:focus + span::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.infrastructure input:focus + span::before {
  box-shadow: 0 0 0 3px #83B3D3;
}

.infrastructure input:active + span::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.infrastructure-field {
  margin-right: 67px;
}

.form-btns {
  margin-left: 81px;
}

.heart {
  position: relative;
}

.popover {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 232px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  outline: none;
  flex-direction: column;
  top: 51px;
  left: -180px;
}

.basket {
  position: relative;
  height: 232px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
}

.basket-line {
  display: flex;
  justify-content: space-between;
}

.basket-hotels {
  display: flex;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin-left: 12px;
  box-sizing: border-box;
}

.basket-hotels:hover {
  opacity: 0.6;
}

.basket-hotels:focus {
  border-color: #83B3D3;
}

.basket-hotels:active {
  opacity: 0.3;
}

.basket-line:last-of-type {
  margin-bottom: 29px;
}

.basket-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

/*не пойму, почему так разъехались*/
.basket-titles {
  margin-left: 17px;
  margin-right: auto;
}

.basket-title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.basket-type {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
}

.basket-trash {
  margin-right: 25px;
  margin-top: 22px;
  outline: none;
  height: 25px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.basket-trash svg {
  fill:rgba(0, 0, 0, 0.6);
}

.basket-trash:hover svg {
  fill: #000000;
}

.basket-trash:focus {
  border-color: #83B3D3;
}

.basket-trash:focus svg {
  fill: #000000;
}

.basket-trash:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.all-chosen {
  background-color: #756257;
  border-radius: 0px 0px 20px 20px;
  height: 60px;
  text-align: center;
}

.all-chosen:hover,
.all-chosen:focus,
.all-chosen:active {
  background-color: #615048;
}

.all-chosen:focus {
  border-color: #83B3D3;
}

.all-chosen:active a {
  color: rgba(255, 255, 255, 0.3);
}

.all-chosen a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 68px 70px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: url("../img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 54px;
}

.black-label {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.arrival,
.departure {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 11px;
}

.field-div {
  width: 155px;
}

.error-message {
  display: block;
  margin: 0;
  padding: 0;
  color: #FF5757;
  font-size: 16px;
  line-height: 40px;
}

.accept-message {
  display: block;
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 16px;
  line-height: 40px;
}

.date-field {
  width: 420px;
}

.grey-div {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  height: 50px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
}

.grey-div input {
  background-color: #F2F2F2;
  outline: none;
  border: none;
  padding-left: 19px;
}

.grey-div input::placeholder {
  font-weight: 700;
  color: #000000;
}

.calendar-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 18px;
  border: none;
  outline: none;
  background: url("../img/icons/date.svg") no-repeat;
}

.person-number {
  display: flex;
  width: 575px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.adults {
  width: 288px;
  height: 50px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.children {
  width: 230px;
  height: 50px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.grey-div-alt {
  display: flex;
  padding-left: 19px;
  padding-right: 19px;
  justify-content: space-between;
  background-color: #F2F2F2;
  height: 50px;
  border-radius: 4px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.grey-div-alt input {
  width: 43px;
  background-color: #F2F2F2;
  outline: none;
  border: none;
}

.grey-div-alt input::placeholder {
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.min-btn {
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background: url("../img/icons/minus_1.svg") no-repeat 50% 50%;
}

.plus-btn {
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background: url("../img/icons/plus_1.svg") no-repeat 50% 50%;
}


.modal-blue-btn {
  width: 575px;
  height: 60px;
  background-color: #83B3D3;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.modal-blue-btn input {
  border: none;
  outline: none;
  background-color: #83B3D3;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.field-div-alt {
  width: 54px;
}

.help-icon {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
  background-color: #83B3D3;
}

.help-message {
  position: absolute;
  display: none;
  width: 256px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  right: 68px;
  bottom: 37px;
}

.help-message::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../img/black_triangle.svg");
  top: -9px;
  left: 130px;
}


.help-icon:hover {
  background-color: #68A2CA;;
}

/*почему-то не срабатывает*/
.help-icon:hover .help-message {
   display: block;
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border-color: #83B3D3;
}

.grey-div:hover,
.grey-div:hover input,
.grey-div-alt:hover,
.grey-div-alt:hover input {
  background-color: #E6E6E6;
}

.grey-div:focus,
.grey-div:focus input,
.grey-div-alt:focus,
.grey-div-alt:focus input {
  background-color: #E6E6E6;
  border-color: #83B3D3;
}

.grey-div:active,
.grey-div-alt:active {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 2px #000000;
}

.grey-div:active input,
.grey-div-alt:active input {
  background-color: #FFFFFF;
}

.plus-btn:focus,
.min-btn:focus {
  border-color: #83B3D3;
}

.plus-btn:active,
.min-btn:active {
  opacity: 0.3;
}

.modal-blue-btn:hover,
.modal-blue-btn:hover input {
  background-color: #68A2CA;
}

.modal-blue-btn:focus,
.modal-blue-btn:focus input {
  background-color: #68A2CA;
}

.modal-blue-btn:focus {
  border-color: #756257;
}
.modal-blue-btn:active input {
  color: rgba(255, 255, 255, 0.3);
}

.heart {
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../img/white_triangle.svg");
  top: -9px;
  left: 188px;
}
