@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #E5E5E5;
  color: #000000;
  min-height: 100%;
  display: flex;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-container {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  margin-left: 71px;
}

.user-list {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 72px;
}

.page-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 72px 30px 72px;
}

.navigation-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 33px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.dwelling span {
  color: #FFFFFF;
}

.infrastructure span {
  color: #FFFFFF;
}

.display-hotels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 76px;
}

.show {
  width: 48px;
  height: 48px;
}

.clear-underline {
  text-decoration: none;
}

.navigation-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 20px;
  color: #000000;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.user-item {
  margin-right: 33px;
  margin-top: auto;
  margin-bottom: auto;
}

.navigation-item:last-of-type,
.user-item:last-of-type {
  margin-right: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-index {
  background-image: url(../img/footer-background.jpg);
  background-repeat: no-repeat;
}

.sedona-welcomes-you {
  background-image: url("../img/index_background.jpg");
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 83px;
  position: relative;
}

.sedona-welcomes-you::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  background: url("../img/white_mask.svg") no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
}

/*в хедере не нравится больше не залезающее на следующий блок лого и утолщающиеся иконки*/
.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.catalog-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 35px 72px 85px 71px;
  background-image: url(../img/catalog_background.jpg);
  background-repeat: no-repeat;
}

.subscribe-form input {
  background-color: #F2F2F2;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.town {
  margin-top: 63px;
  margin-bottom: 23px;
}

.hotel-search {
  padding-top: 91px;
  padding-bottom: 91px;
}

.interest {
  margin-bottom: 30px;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 79px;
}

.suggestions {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
}

/*Паддинги у преимуществ дополнительно поправлю на моменте добавления иконок в эти блоки, потому как сейчас так или иначе смотрится криво*/
.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-item {
  text-align: center;
  width: 400px;
  padding-top: 90px;
  padding-bottom: 77px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-number {
  margin-bottom: 26px;
}

/*у карточек с иконками отличаются отступы*/
.advantages-title-alt {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-top: 89px;
  margin-bottom: 20px;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  grid-column: span 3; /*сработало самое простое решение*/
  width: 100%;
  display: flex;
  background-color: #83B3D3;
}

.advantages-white {
  color: #FFFFFF;
}

.subscribe-h {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-catalog-h {
  color: #000000;
}

.subscribe-p {
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-catalog-p {
  color: #333333;
}

.div-flex {
  display: flex;
}

.sedona-decorative-btn {
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding-top: 9px;
  padding-bottom: 10px;
}

.catalog-btn {
  width: 160px;
}

.blue-btn {
  background-color: #83B3D3;
}

.blue-btn-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.selected-btn {
  background-color: #7DB54F;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  padding-right: 29px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.button {
  text-decoration: none;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  list-style: none;
  margin-right: 30px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-input {
  font-size: 18px;
  line-height: 24px;
}

.sorting-type {
  font-size: 18px;
  line-height: 24px;
}

.load {
  width: 625px;
  margin-bottom: 61px;
  margin-left: auto;
  margin-right: auto;
}

.search-btn {
  display: block;
  width: 576px;
  margin-top: 73px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 17px;
  border-radius: 10px;
}

.hotels-found {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 190px;
}

.hotel-card {
  display: flex;
  margin-bottom: 61px;
}

.hotel-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-title {
  margin: 0;
}

.hotel-info {
  margin-left: 36px;
}

.card-main {
  display: flex;
}

.card-left {
  display: block;
  margin-right: 8px;
}

.card-right {
  display: block;
}

.hotel-card-type {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.hotel-card-price {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.reset {
  color: #FFFFFF;
  margin-left: auto;
}

.hotel-card-rate {
  background-color: #F2F2F2;
  display: block;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: auto;
}

.rate {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.stars {
  text-align: center  ;
}

.dark-text {
  color: #333333;
}

.bottom-catalog {
  display: flex;
  align-items: baseline;
}

.sedona-dwelling {
  padding: 50px 72px 89px 72px;
}

.number-of-hotels {
  margin-left: auto;
}

.number-text {
  display: inline-block;
  margin-right: 51px;
  color: 333333;
}

.pagination {
  display: flex;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-link {
  display: block;
  width: 55px;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*цвета с макета нормально не захватились, так понимаю, что эти*/
.current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-catalog {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.price-block {
  width: 143px;
}

.infrastructure-field {
  margin-right: 67px;
}

.price-sorting {
  display: flex;
}

.form-btns {
  margin-left: 81px;
}

/*тут пока пиксели на глаз, потому как в фигме что-то странное*/
.apply {
  margin-top: 60px;
}

.reset {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.price-field {
  margin-left: auto;
}

.advantage-house::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -89px;
  background: url("../img/icons/house.svg") no-repeat;
}

.advantage-burger::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -89px;
  background: url("../img/icons/burger.svg") no-repeat;
}

.advantage-present::before {
  content: "";
  position: absolute;
  background: url("../img/icons/present.svg") no-repeat;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -89px;
}

.brown-btn {
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.want-there {
  width: 160px;
}

.brown-btn:hover {
  background-color: #615048;
  border: 3px solid transparent;
}

.brown-btn:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  outline: none;
}

.brown-btn:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.current-page {
  border-bottom: 2px solid #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus,
.current-page:focus {
  color: #756257;
  outline: none;
  border-radius: 10px;
  border: 3px solid #83B3D3;
}

.navigation-link:active {
  color: rgba(136, 127, 121, 0.3);
}

.user-link {
  color: #000000;
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.user-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-link svg:hover {
  stroke: #756257;
}

.user-link:focus svg {
  stroke: #756257;
  top: 10;
  bottom: 10;
}

.user-link:focus {
  border-radius: 10px;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.user-link:active svg{
  stroke: rgba(136, 127, 121, 0.3);
}

.social-btn {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.social-btn svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3
}

.social-btn:hover svg {
  fill: #68A2CA;
}

.social-btn:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.social-btn:focus svg {
  fill: #68A2CA;
}

.social-btn:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  position: relative;
  min-width: 154px;
  min-height: 64px;
  margin: 0;
  margin-left: 213px;
  padding: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.htmlacademy-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-link:hover svg {
  fill: #756257;
}

.htmlacademy-link:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.htmlacademy-link:focus svg {
  fill: #756257;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 98, 87, 0.3);
}

.subscribe-button {
  background: #83B3D3;
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:hover {
  background: #68A2CA;
}

.subscribe-button:focus {
  background: #68A2CA;
  outline: none;
  border: 3px solid #756257;
  box-sizing: border-box;
}

.subscribe-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.heart-icon {
  display: block;
  position: relative;
}

.heart-icon::after {
  position: absolute;
  left: 19px;
  content: "12";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB550;
}
