@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #e5e5e5;
  color: #000000;
  min-height: 100%;
  display: flex;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-container {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  padding: 0;
  margin-left: 59px;
}

.user-list {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 72px;
  justify-content: space-between;
}

.magnifier {
  position: absolute;
  display: block;
  right: 274px;
  bottom: 14px;
}

.page-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 62px 30px 72px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border-color: transparent;
  margin: 0;
  padding: 0;
}

.display-hotels {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 60px;
}

.display-hotels::after {
  content: "";
  position: absolute;
  width: 1056px;
  height: 0;
  bottom: -42px;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.show-div {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.show {
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  outline: none;
}

.show-chosen {
  border-color: #000000;
}

.show:hover,
.show:focus {
  border-color: #83b3d3;
}

.show:active {
  border-color: #000000;
}

.show svg {
  position: absolute;
  fill: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clear-underline {
  text-decoration: none;
}

.navigation-item {
  position: relative;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-right: 3px;
}

.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 6px 12px;
  text-align: center;
  color: #000000;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.user-item {
  margin-right: 21px;
  margin-top: auto;
  margin-bottom: auto;
}

.user-item:last-of-type {
  margin-right: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 94px;
}

.subscribe-index {
  background-image: url(../img/footer-background.jpg);
  background-repeat: no-repeat;
}

.sedona-welcomes-you {
  background-image: url("../img/index_background.jpg");
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 78px;
  position: relative;
}

.sedona-welcomes-you::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  background: url("../img/white_mask.svg") no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  outline: none;
}

.catalog-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 35px 71px 85px 66px;
  background-image: url(../img/catalog_background.jpg);
  background-repeat: no-repeat;
}

.subscribe-form input {
  background-color: #f2f2f2;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.town {
  margin-top: 63px;
  margin-bottom: 31px;
}

.hotel-search {
  padding-top: 101px;
  padding-bottom: 91px;
}

.interest {
  margin-bottom: 29px;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 79px;
}

.suggestions {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-item {
  text-align: center;
  width: 400px;
  padding-top: 100px;
  padding-bottom: 77px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-number {
  display: block;
  margin-bottom: 30px;
}


.advantages-title-alt {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-top: 87px;
  margin-bottom: 18px;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.advantages-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  grid-column: span 3;
  width: 100%;
  max-height: 384px;
  display: flex;
  background-color: #83b3d3;
}

.advantages-white {
  color: #ffffff;
}

.subscribe-h {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-catalog-h {
  color: #000000;
}

.subscribe-p {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 5px;
  margin-bottom: 45px;
}

.subscribe-catalog-p {
  color: #333333;
  margin-bottom: 45px;
}

.div-flex {
  display: flex;
}

.sedona-decorative-btn {
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalog-btn {
  width: 151px;
}

.load {
  display: block;
  width: 625px;
  margin-bottom: 61px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.load a {
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.load:hover,
.load:focus,
.load:active {
  background-color: #68a2ca;
}

.load:focus {
  border-color: #ffffff;
}

.load:active a {
  color: rgba(255, 255, 255, 0.6);
}

.bottom-catalog::before {
  content: "";
  position: absolute;
  width: 1056px;
  height: 0;
  top: -31px;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.load a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  display: block;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: 700px;
  font-size: 20px;
  line-height: 26px;
}

.to-selected,
.selected-btn {
  width: 160px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.to-selected:hover {
  background-color: #68a2ca;
  box-shadow: 0 0 0 1px #756257;
}

.to-selected:focus {
  border-color: #756257;
}

.to-selected:active {
  box-shadow: 0 0 0 1px #756257;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.selected-btn:hover {
  background-color: #6c9e42;
}

.selected-btn:focus {
  background-color: #6c9e42;
  border-color: #756257;
}

.selected-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-btn {
  background-color: #83b3d3;
}

.selected-btn {
  background-color: #7db54f;
}

.footer-social-list {
  display: flex;
  position: relative;
}

.twitter {
  display: block;
  position: absolute;
  right: 10px;
}

.youtube {
  display: block;
  position: absolute;
  right: -10px;
  top: 2px;
}

.footer-contacts {
  margin-left: 40px;
}

.footer-contacts-phone {
  margin-left: 50px;
  margin-right: 60px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: #000000;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.button {
  text-decoration: none;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item-alt {
  padding-left: 16px;
  background: url("../img/icons/arrow_1.svg") no-repeat 0 50%;
}

.breadcrumbs-item-alt:hover,
 .breadcrumbs-item-alt:focus,
 .breadcrumbs-item-alt:active {
  background-image: none;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  display: block;
  border: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
  outline: none;
}

.breadcrumb {
  position: relative;
  width: 28px;
  height: 27px;
  display: block;
  padding: 0;
}

.breadcrumb svg {
  position: absolute;
  fill: #ffffff;
  transform: translateY(5px);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #83b3d3;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.3);
}

.arrow {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.arrow svg {
  position: absolute;
  fill: #ffffff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  outline: none;
}

.arrow:hover svg,
.arrow:focus svg,
.arrow:active svg {
  fill: transparent;
  border: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 24px;
}

.sorting-type {
  font-size: 18px;
  line-height: 24px;
}

.sorting-hotel-type {
  margin-right: 81px;
}

.sorting-type select {
  width: 287px;
  height: 48px;
  padding: 0;
  border: 2px solid #e6e6e6;
  padding-left: 19px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  appearance: none;
  background: url("../img/icons/arrow_2.svg") no-repeat right;
  background-position-x: calc(100% - 19px);
  font-size: 16px;
  line-height: 23px;
}

.sorting-type:hover select,
.sorting-type:focus select {
  border-color: #83B3D3;
}

.sorting-type:active select {
  border-color: rgba(230, 230, 230, 0.3);
  color: rgba(51, 51, 51, 0.3);
  opacity: 0.3;
}

.search-btn {
  display: block;
  width: 575px;
  background-color: #756257;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.search-btn:hover,
.search-btn:focus,
.search-btn:active {
  background-color: #615048;
}

.search-btn:focus {
  border-color: #83b3d3;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.6);
}

.hotels-found {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.hotel-card {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-bottom: 50px;
  position: relative;
}

.hotel-card:last-of-type {
  margin-bottom: 61px;
}

.hotel-card::after {
  content: "";
  position: absolute;
  width: 1056px;
  height: 0;
  bottom: -30px;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.hotel-info {
  margin-left: 37px;
}

.hotel-card-image {
  display: block;
  margin: 0;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.hotel-img-link {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.hotel-img-link:hover {
  opacity: 0.6;
}

.hotel-img-link:focus .hotel-card-image {
  border-color: #83b3d3;
  outline: none;
}

.hotel-img-link:active {
  opacity: 0.3;
}

.hotel-card-link {
  display: block;
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  border: 3px solid transparent;
  padding: 10px 15px 10px 15px;
  margin-left: -22px;
  margin-top: -10px;
  margin-bottom: -10px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link:focus .hotel-card-title {
  border: 3px solid #83B3D3;
  color: #756257;
}

.hotel-card-link:active .hotel-card-title {
  color: rgba(117, 98, 87, 0.3);
}

.card-main {
  display: flex;
}

.card-left {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: -7px;
  margin-right: 8px;
}

.card-right {
  display: block;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.hotel-card-price {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.hotel-card-rate {
  background-color: #f2f2f2;
  display: block;
  width: 160px;
  padding-top: 7px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 60px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.rate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  padding-top: 10px;
}

.stars {
  text-align: center;
}

.stars-rating-2 {
  width: 43px;
}

.stars-rating-3 {
  width: 68px;
}

.stars-rating-4 {
  width: 89px;
}

.stars-rating {
  align-self: center;
  height: 17px;
  background: url("../img/icons/star.svg") space;
}

.dark-text {
  color: #333333;
}

.bottom-catalog {
  display: flex;
  align-items: baseline;
  position: relative;
}

.sedona-dwelling {
  padding: 40px 72px 0 72px;
}

.number-of-hotels {
  margin-left: auto;
}

.number-of-hotels select {
  width: 160px;
}

.number-text {
  display: inline-block;
  margin-right: 51px;
  color: 333333;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-link {
  display: block;
  width: 55px;
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.pagination-link:hover,
.pagination-link:focus,
.pagination-link:active {
  background-color: #68a2ca;
}

.pagination-link:focus {
  border-color: #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.current {
  background-color: #f2f2f2;
  color: #000000;
}

.subscribe-catalog {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  margin-bottom: 140px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.price-sorting {
  display: flex;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  width: 287px;
}

.label-container {
  display: flex;
  width: 145px;
  height: 48px;
  align-items: center;
  padding-top: 5px;
  padding-left: 14px;
  padding-right: 14px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  justify-content: space-between;
}

.label-container-left {
  border-right: 1px;
}

.label-container:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.label-container:focus {
  box-shadow: 0px 0px 0px 3px #81b3d2;
}

.label-container:active {
  background-color: #756257;
}

.label-container span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 24px;
}

.label-container input {
  width: 70px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.label-container input::placeholder {
  color: #ffffff;
}

.apply {
  margin-top: 60px;
  background-color: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 160px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

}

.apply:hover,
.apply:focus,
.apply:active {
  background-color: #68a2ca;
}

.apply:focus {
  border-color: #ffffff;
}

.apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset {
  color: #ffffff;
  margin-left: auto;
  background-color: transparent;
  display: block;
  font-size: 16px;
  line-height: 23px;
  width: 160px;
  padding: 0;
  cursor: pointer;
  border: 3px solid transparent;
  outline: none;
  padding-top: 4px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
  border-color: #83B3D3;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.advantage-house::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -99px;
  background: url("../img/icons/house.svg") no-repeat;
}

.advantage-burger::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -99px;
  background: url("../img/icons/burger.svg") no-repeat;
}

.advantage-present::before {
  content: "";
  position: absolute;
  background: url("../img/icons/present.svg") no-repeat;
  width: 76px;
  height: 76px;
  left: 163px;
  top: -99px;
}

.brown-btn {
  background-color: #756257;
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.want-there {
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.brown-btn:hover,
.brown-btn:focus,
.brown-btn:active {
  background-color: #615048;
}

.brown-btn:focus {
  border-color: #83b3d3;
}

.brown-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.current-page::before {
  position: absolute;
  right: 12px;
  bottom: -13px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus,
.current-page:focus {
  color: #756257;
  border-color: #83b3d3;
}

.navigation-link:active {
  color: rgba(136, 127, 121, 0.3);
}

.user-link {
  color: #000000;
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.user-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-link:hover svg{
  fill: #756257;
}

.user-link:focus svg {
  fill: #756257;
  top: 10;
  bottom: 10;
}

.user-link:focus {
  border-color: #83b3d3;
}

.user-link:active svg{
  fill: rgba(136, 127, 121, 0.3);
}

.heart-icon {
  display: block;
  margin: 0;
  position: relative;
}

.heart-icon::after {
  position: absolute;
  left: 19px;
  content: "12";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #7db550;
}

.heart-icon:hover::after {
  color: rgba(255, 255, 255, 0.3);
}

.social-btn {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.social-btn svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3
}

.social-btn:hover svg {
  fill: #68a2ca;
}

.social-btn:focus {
  border-color: #83b3d3;
}

.social-btn:focus svg {
  fill: #68a2ca;
}

.social-btn:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  border-color: #83b3d3;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  position: relative;
  min-width: 154px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.htmlacademy-link svg {
  position: absolute;
  top: 10px;
  right: -20px;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-link:hover svg {
  fill: #756257;
}

.htmlacademy-link:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.htmlacademy-link:focus svg {
  fill: #756257;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 98, 87, 0.3);
}

.subscribe-button {
  background-color: #83b3d3;
  width: 200px;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
  border-color: #756257;
}

.subscribe-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.user-email {
  width: 600px;
  height: 60px;
  background-color: #f2f2f2;
  border: 3px solid transparent;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding-left: 15px;
  padding-top: 8px;
  box-sizing: border-box;
}
.user-email::placeholder {
  color:  rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 26px;

}

.user-email:hover,
.user-email:focus {
  background-color: #e6e6e6;
}

.user-email:focus {
  border-color: #83b3d3;
}

.user-email:active {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.user-email:focus:invalid {
  background-color: #ffffff;
  border-color: #ff5757;
  color: #000000;
}

.range-scale {
  width: 280px;
  height: 0;
  justify-self: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin-top: 27px;
  position: relative;
}

.range-bar {
  width: 227px;
  height: 0;
  border: 2px solid #ffffff;
  position: absolute;
  top: -2px;
  left: -3px;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 3px solid transparent;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border-color: #83b3d3;
}

.range-toggle:active {
  border-color: #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  position: absolute;
  top: -10px;
  left: -4px;
}

.toggle-max {
  position: absolute;
  top: -10px;
  left: 215px;
}

.dwelling-field {
  margin-right: auto;
}

.dwelling {
  display: block;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  padding: 0;
}

.dwelling span {
  color: #ffffff;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  line-height: 24px;
}

.dwelling span::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #3f5e72;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px #ffffff;
}

.catalog-filter-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.dwelling input:checked + span::before {
  box-shadow: inset 0 0 0 5px #ffffff;
}

.dwelling input:focus + span::before {
  box-shadow: inset 0 0 0 3px #83B3D3,
  inset 0 0 0 10px #ffffff;
}

.dwelling input:checked:focus + span::before {
  box-shadow: 0 0 0 3px #83b3d3,
  inset 0 0 0 5px #ffffff;
}

.infrastructure {
  display: block;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  height: 20px;
}

.infrastructure span {
  color: #ffffff;
  position: relative;
  padding-left: 45px;
  font-size: 18px;
  line-height: 23px;
}

.infrastructure span::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 10px;
  transform: translateY(-50%);
  border-radius: 4px;
  background-color: #ffffff;
}

.infrastructure input:checked + span::before {
  background: url("../img/icons/checkbox.svg") no-repeat 50% 50%
}

.infrastructure input:checked + span::before {
  background-color: #ffffff;
}

.infrastructure input:hover + span::before,
.infrastructure input:focus + span::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.infrastructure input:focus + span::before {
  box-shadow: 0 0 0 3px #83b3d3;
}

.infrastructure input:active + span::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.infrastructure-field {
  margin-right: 67px;
}

.form-btns {
  margin-left: 80px;
}

.heart{
  position: relative;
}

.popover {
  position: absolute;
  z-index: 1;
  width: 400px;
  min-height: 232px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  top: 51px;
  left: -180px;
}

.popover::before {
  position: absolute;
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../img/white_triangle.svg");
  top: -9px;
  left: 188px;
}

.popover-content {
  height: 100%;
}

.popover-cart-item {
  display: flex;
  margin: 0;
  padding: 20px 20px;
  max-height: 50px;
  padding-bottom: 2px;
  justify-content: space-between;
}

.last {
  margin-bottom: 25px;
}

.popover-hotel-info {
  display: flex;
  padding: 2px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.popover-hotel-info:hover {
  opacity: 0.6;
}

.popover-hotel-info:focus {
  border-color: #83b3d3;
}

.popover-hotel-info:hover {
  opacity: 0.3;
}

.popover-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 17px;
}

.popover-hotel-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.popover-hotel-type {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.all-chosen {
  background-color: #756257;
  text-align: center;
  outline: none;
  border-radius: 0px 0px 20px 20px;
  box-sizing: border-box;
}

.all-chosen:hover,
.all-chosen:focus,
.all-chosen:active {
  background-color: #615048;
}

.all-chosen-link:focus {
  border-color: #83b3d3;
}

.all-chosen-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.all-chosen-link {
  display: block;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  outline: none;
  border: 3px solid transparent;
  border-radius: 0px 0px 20px 20px;
}

.trash {
  height: 30px;
  margin-top: 2px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.trash svg {
  fill: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}

.trash:hover svg,
.trash:focus svg {
  fill: #000000;
}

.trash:focus  {
  box-shadow: 0 0 0 2px #83b3d3;
}

.trash:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  width: 715px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 53px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
  background-image: url("../img/icons/cross.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  border-color: #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.modal-title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 60px;
  margin-top: -5px;
  margin-left: -3px;
}

.modal-form {
  display: grid;
  grid-template-rows: auto min-content auto min-content auto min-content;
  grid-template-columns: 1fr 10px auto auto auto;
}

.arrival-label {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
}

.arrival-div {
  grid-row: 1/2;
  grid-column: 3/-1;
}

.message-arrival {
  grid-row: 2/3;
  grid-column: 3/-1;
}

.departure-label {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: center;
}

.departure-div {
  grid-row: 3/4;
  grid-column: 3/-1;
}

.message-departure {
  grid-row: 4/5;
  grid-column: 3/-1;
}

.adults-label {
  grid-row: 5/6;
  grid-column: 1/2;
  align-self: center;
}

.adults-div{
  grid-row: 5/6;
  grid-column: 3/4;
  margin-right: 56px;
}

.children-div {
  grid-row: 5/6;
  grid-column: 5/6;
}

.children-label {
  margin-right: 10px;
}

.grey-div {
  position: relative;
  width: 420px;
}

.grey-field {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
  background-color: #f2f2f2;
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  padding: 0;
}

.grey-field:hover,
.grey-field:focus {
  background-color: #e6e6e6;
}

.grey-field:focus {
  border-color: #83b3d3;
}

.grey-field:active {
  background-color: #ffffff;
  border-color: #000000;
}

.arrival-field,
.departure-field {
  width: 420px;
  height: 50px;
  padding-left: 19px;
}

.calendar {
  position: absolute;
  right: 18px;
  top: 16px;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: none;
  background-image: url("../img/icons/date.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;
}

.message-modal {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 7px;
  margin-top: -7px;
}

.error-message {
  color: #ff5757;
}

.accept-message {
  color: #333333;
}

.grey-div-alt {
  position: relative;
  width: 133px;
}

.modal-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f2f2f2;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  opacity: 0.3;
}

.modal-btn::before {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 13px;
  height: 1px;
  align-self: center;
  background-repeat: no-repeat;
  right: 3px;
}

.modal-btn:hover,
.modal-btn:focus {
  opacity: 1;
}

.modal-btn:focus {
  border-color: #83b3d3;
}

.min-btn {
  left: 12px;
  top: 12px;
}

.plus-btn {
  right: 12px;
  top: 12px;
}

.plus-btn::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 13px;
  height: 1px;
  align-self: center;
  background-repeat: no-repeat;
  right: 3px;
  transform: rotate(90deg);
}

.grey-field-alt {
  width: 133px;
  height: 50px;
  text-align: center;
  appearance: textfield;
}

.info-modal-block {
  display: flex;
  flex-wrap: wrap;
  grid-row: 5 / 6;
  grid-column: 4 / 5;
  margin-right: 18px;
  align-items: center;
}

.info-modal {
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  content: "i";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
}

.modal-letter {
  color: #ffffff;
  font-style: normal;
}

.children-div {
  grid-row: 5/6;
  grid-column: 5/6;
}

.modal-blue-btn {
  height: 60px;
  font-size: 20px;
  line-height: 40px;
  background-color: #83b3d3;
  border-radius: 10px;
  grid-row: -1/-2;
  grid-column: 1/-1;
  margin-top: 40px;
  padding: 0 25px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.modal-blue-btn:hover,
.modal-blue-btn:focus,
.modal-blue-btn:active {
  background-color: #68a2ca;
}

.modal-blue-btn:focus {
  border-color: #756257;
}

.modal-blue-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.help-message {
  position: absolute;
  display: none;
  width: 256px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  right: 77px;
  bottom: 33px;
}

.help-message::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../img/black_triangle.svg");
  top: -9px;
  left: 128px;
}

.info-modal:hover {
  background-color:  #68a2ca;
}

.info-modal:hover .help-message {
  display: block;
  margin: 0;
}
