@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #E5E5E5;
  color: #000000;
  min-height: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.main-container {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  margin-left: 71px;
}

.user-list {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 72px;
}

.page-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 72px 30px 72px;
}

.navigation-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.clear-underline {
  text-decoration: none;
}

.navigation-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 20px;
  margin-right: 33px;
  color: #000000;
}

.user-link {
  color: #000000;
  margin-right: 33px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-index {
  background-image: url(../img/footer-background.jpg);
  background-repeat: no-repeat;
}

.first {
  background-image: url(../img/index_background.jpg);
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 83px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.header-logo {
  position: absolute;
  left: 44%;
  top: 0%;
}

.catalog-bg {
  background-image: url(../img/catalog_background.jpg);
  background-repeat: no-repeat;
}

.subscribe-form input {
  background-color: #F2F2F2;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.city {
  padding-top: 63px;
  padding-bottom: 23px;
}

.interest {
  padding-top: 91px;
  padding-bottom: 30px;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 79px;
}

.suggestions {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
}

/*Паддинги у преимуществ дополнительно поправлю на моменте добавления иконок в эти блоки, потому как сейчас так или иначе смотрится криво*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  width: 400px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.advantages-description {
  margin: 0;
  padding-bottom: 77px;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-another {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  width: 100%;
  display: flex;
  background-color: #83B3D3;
}

.advantages-white {
  color: #FFFFFF;
}

.subscribe-h {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-p {
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.sedona-decorative-btn {
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}

.blue-btn {
  background-color: #83B3D3;
}

.selected-btn {
  background-color: #7DB54F;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  padding-right: 29px;
}


.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.button {
  text-decoration: none;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-input {
  font-size: 18px;
  line-height: 24px;
}

.sorting-type {
  font-size: 18px;
  line-height: 24px;
}

.search-btn {
  display: flex;
  width: 576px;
  margin: 73px 313px 91px 312px;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 17px;
}

.hotels-found {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.hotel-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.reset {
  color: #FFFFFF;
}

.hotel-card-rate {
  background-color: #F2F2F2;
}

.dark-text {
  color: #333333;
}

.advantages-number {
  display: block;
  padding-bottom: 26px;
}

.pagination-link {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}


